In [30]:
import numpy as np
import pandas as pd
import xlsxwriter
import requests
from scipy.stats import percentileofscore as score
import math

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')
from secrets import IEX_CLOUD_API_TOKEN

In [6]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
print(data)

{'symbol': 'AAPL', 'companyName': 'Apple Inc', 'primaryExchange': 'SLDE /GEEAQCSABLKNTTOGAA)RLS ( NM', 'calculationPrice': 'close', 'open': 137.81, 'openTime': 1651563260532, 'openSource': 'fliifaco', 'close': 140.47, 'closeTime': 1620347438193, 'closeSource': 'oiiclffa', 'high': 139.68, 'highTime': 1619678180873, 'highSource': 'TILtX aadeE rs', 'low': 134.95, 'lowTime': 1687808407880, 'lowSource': 'e e5ltncddra iypie1 mue', 'latestPrice': 141.41, 'latestSource': 'Close', 'latestTime': 'February 12, 2021', 'latestUpdate': 1675694401715, 'latestVolume': 61503629, 'iexRealtimePrice': 137.9, 'iexRealtimeSize': 1, 'iexLastUpdated': 1619532858698, 'delayedPrice': 139.26, 'delayedPriceTime': 1645766868073, 'oddLotDelayedPrice': 141.7, 'oddLotDelayedPriceTime': 1632759657319, 'extendedPrice': 140.34, 'extendedChange': 0.06, 'extendedChangePercent': 0.00045, 'extendedPriceTime': 1628272322087, 'previousClose': 137.83, 'previousVolume': 65000772, 'change': 0.25, 'changePercent': 0.00187, 'volume': 60225449, 'iexMarketPercent': 0.014699805624900067, 'iexVolume': 905915, 'avgTotalVolume': 106827444, 'iexBidPrice': 0, 'iexBidSize': 0, 'iexAskPrice': 0, 'iexAskSize': 0, 'iexOpen': 141.74, 'iexOpenTime': 1656857413730, 'iexClose': 142.05, 'iexCloseTime': 1689799905805, 'marketCap': 2276607983358, 'peRatio': 38.06, 'week52High': 146.53, 'week52Low': 54.28, 'ytdChange': 0.02465853992719326, 'lastTradeTime': 1681791779068, 'isUSMarketOpen': False}

In [7]:
price = data['latestPrice']
pe_ratio = data['peRatio']
pe_ratio

38.06

In [8]:
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'Price-to-Earnings Ratio', 'Number of Shares to Buy']

In [9]:
final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
#    print(data.status_code)
    for symbol in symbol_string.split(","):
        final_dataframe = final_dataframe.append(
        pd.Series(
            [
                symbol,
                data[symbol]['quote']['latestPrice'],
                data[symbol]['quote']['peRatio'],
                'N/A'
            ],
            index = my_columns
        ),
        ignore_index = True
        )
        
#        print(symbol)
final_dataframe

    Ticker   Price Price-to-Earnings Ratio Number of Shares to Buy
0        A  129.44                   58.06                     N/A
1      AAL   17.57                   -1.27                     N/A
2      AAP  155.62                   23.32                     N/A
3     AAPL  138.02                   37.69                     N/A
4     ABBV  107.96                    23.8                     N/A
..     ...     ...                     ...                     ...
500    YUM  108.28                   31.51                     N/A
501    ZBH  165.76                 -227.19                     N/A
502   ZBRA  489.15                   54.64                     N/A
503   ZION   52.01                    21.8                     N/A
504    ZTS  173.74                   49.37                     N/A

[505 rows x 4 columns]

In [10]:
# Remove Glamour stocks, sort dataframe by peRatio in ascending order and get top 50

In [13]:
final_dataframe.sort_values('Price-to-Earnings Ratio', ascending = True, inplace = True)
final_dataframe

    Ticker    Price Price-to-Earnings Ratio Number of Shares to Buy
468    VLO   66.600                -2421.76                     N/A
405   SBAC  271.080                -2120.96                     N/A
380   PRGO   46.520                  -937.1                     N/A
183    FIS  141.200                 -847.62                     N/A
125      D   75.030                 -493.52                     N/A
..     ...      ...                     ...                     ...
363    PEG   61.110                    None                     N/A
442   TROW  166.720                    None                     N/A
452     UA   19.530                    None                     N/A
454    UAL   45.471                    None                     N/A
498    XRX   24.210                    None                     N/A

[505 rows x 4 columns]

In [15]:
final_dataframe.sort_values('Price-to-Earnings Ratio', inplace = True)
final_dataframe = final_dataframe[final_dataframe['Price-to-Earnings Ratio'] > 0]
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(inplace = True)
final_dataframe.drop('index', axis=1, inplace = True)
final_dataframe

   Ticker   Price Price-to-Earnings Ratio Number of Shares to Buy
0     NRG   44.91                    2.69                     N/A
1     AIV    5.00                    4.83                     N/A
2     UNM   25.79                     5.4                     N/A
3     BIO  691.78                    5.94                     N/A
4     ALL  108.99                    7.48                     N/A
5     AFL   46.96                     7.7                     N/A
6     CPB   48.53                    8.04                     N/A
7    EBAY   64.75                    8.22                     N/A
8     KIM   18.31                    8.97                     N/A
9     MET   57.05                    9.15                     N/A
10     KR   34.13                    9.25                     N/A
11     BK   43.32                    9.62                     N/A
12    PHM   48.48                     9.7                     N/A
13    CTL   11.00                    9.74                     N/A
14    SRE  128.80                    9.77                     N/A
15    PNC  166.78                    9.79                     N/A
16    PGR   89.13                   10.08                     N/A
17    NEE   83.69                   10.49                     N/A
18    HIG   49.98                    10.5                     N/A
19    CAH   52.65                   11.08                     N/A
20    DHI   83.78                   11.13                     N/A
21   BIIB  280.41                    11.4                     N/A
22    TSN   67.77                   11.74                     N/A
23    LEN   92.83                   12.09                     N/A
24    STT   75.00                   12.18                     N/A
25    MAS   56.32                   12.48                     N/A
26     GM   56.10                   12.51                     N/A
27     VZ   54.60                   12.53                     N/A
28    MGM   36.40                   12.55                     N/A
29      C   65.32                    12.6                     N/A
30    HII  182.23                   12.67                     N/A
31    CVS   75.84                   12.67                     N/A
32    HUM  385.33                    12.7                     N/A
33    PFG   54.35                   12.88                     N/A
34   INTC   64.09                      13                     N/A
35   DISH   32.31                   13.11                     N/A
36    LNC   53.09                   13.17                     N/A
37    UHS  133.47                    13.2                     N/A
38     MS   74.77                    13.2                     N/A
39   FOXA   32.64                   13.29                     N/A
40   PBCT   15.23                   13.32                     N/A
41    PNW   76.90                   13.93                     N/A
42    ETR   95.41                      14                     N/A
43    LMT  348.38                    14.1                     N/A
44    HPQ   27.90                    14.2                     N/A
45    PPL   29.17                   14.22                     N/A
46    IBM  123.80                   14.23                     N/A
47    MTB  145.67                   14.63                     N/A
48     WU   24.01                   14.69                     N/A
49     CI  207.68                   14.75                     N/A

In [16]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the value of your portfolio:")

    try:
        val = float(portfolio_size)
    except ValueError:
        print("That's not a number! \n Try again:")
        portfolio_size = input("Enter the value of your portfolio:")

In [17]:
portfolio_input()

Enter the value of your portfolio:1000000

In [18]:
position_size = float(portfolio_size)/len(final_dataframe.index)
#position_size
for row in final_dataframe.index:
    final_dataframe.loc[row, 'Number of Shares to Buy'] = math.floor(position_size/final_dataframe.loc[row,'Price'])
    
final_dataframe

   Ticker   Price Price-to-Earnings Ratio Number of Shares to Buy
0     NRG   44.91                    2.69                     445
1     AIV    5.00                    4.83                    4000
2     UNM   25.79                     5.4                     775
3     BIO  691.78                    5.94                      28
4     ALL  108.99                    7.48                     183
5     AFL   46.96                     7.7                     425
6     CPB   48.53                    8.04                     412
7    EBAY   64.75                    8.22                     308
8     KIM   18.31                    8.97                    1092
9     MET   57.05                    9.15                     350
10     KR   34.13                    9.25                     585
11     BK   43.32                    9.62                     461
12    PHM   48.48                     9.7                     412
13    CTL   11.00                    9.74                    1818
14    SRE  128.80                    9.77                     155
15    PNC  166.78                    9.79                     119
16    PGR   89.13                   10.08                     224
17    NEE   83.69                   10.49                     238
18    HIG   49.98                    10.5                     400
19    CAH   52.65                   11.08                     379
20    DHI   83.78                   11.13                     238
21   BIIB  280.41                    11.4                      71
22    TSN   67.77                   11.74                     295
23    LEN   92.83                   12.09                     215
24    STT   75.00                   12.18                     266
25    MAS   56.32                   12.48                     355
26     GM   56.10                   12.51                     356
27     VZ   54.60                   12.53                     366
28    MGM   36.40                   12.55                     549
29      C   65.32                    12.6                     306
30    HII  182.23                   12.67                     109
31    CVS   75.84                   12.67                     263
32    HUM  385.33                    12.7                      51
33    PFG   54.35                   12.88                     367
34   INTC   64.09                      13                     312
35   DISH   32.31                   13.11                     619
36    LNC   53.09                   13.17                     376
37    UHS  133.47                    13.2                     149
38     MS   74.77                    13.2                     267
39   FOXA   32.64                   13.29                     612
40   PBCT   15.23                   13.32                    1313
41    PNW   76.90                   13.93                     260
42    ETR   95.41                      14                     209
43    LMT  348.38                    14.1                      57
44    HPQ   27.90                    14.2                     716
45    PPL   29.17                   14.22                     685
46    IBM  123.80                   14.23                     161
47    MTB  145.67                   14.63                     137
48     WU   24.01                   14.69                     832
49     CI  207.68                   14.75                      96

In [19]:
# # Building the advanced model where many ratios would be considered
# Price-to-earnings ratio
# Price-to-book ratio
# Price-to-sales ratio
# Enterprise Value divided by Earnings Before Interest, Taxes, Depreciation, and Amortization (EV/EBITDA)
# Enterprise Value divided by Gross Profit (EV/GP)

In [20]:
symbol = 'AAPL'
batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=quote,advanced-stats&symbols={symbol}&token={IEX_CLOUD_API_TOKEN}'
data = requests.get(batch_api_call_url).json()
#print(data['AAPL']['advanced-stats'])

# Price-to-earnings ratio
pr_ratio = data[symbol]['quote']['peRatio']

# Price-to-book ratio
pb_ratio = data['AAPL']['advanced-stats']['priceToBook']

# Price-to-sales ratio
ps_ratio = data['AAPL']['advanced-stats']['priceToSales']

# Enterprise Value divided by Earnings Before Interest, Taxes, Depreciation, and Amortization (EV/EBITDA)
enterprise_value = data['AAPL']['advanced-stats']['enterpriseValue']
ebitda = data['AAPL']['advanced-stats']['EBITDA']
ev_to_ebitda = enterprise_value/ebitda

# Enterprise Value divided by Gross Profit (EV/GP)
gross_profit = data['AAPL']['advanced-stats']['grossProfit']
ev_to_gross_profit = enterprise_value/gross_profit

{'beta': 1.1780022660922491, 'totalCash': 80545397199, 'currentDebt': 138760234614, 'revenue': 306809721547, 'grossProfit': 115139004626, 'totalRevenue': 306921845097, 'EBITDA': 88939413517, 'revenuePerShare': 17.76, 'revenuePerEmployee': None, 'debtToEquity': 5.518208165249224, 'profitMargin': 0.22388483197138573, 'enterpriseValue': 2319430134246, 'enterpriseValueToRevenue': 8.21, 'priceToSales': 7.89, 'priceToBook': 35.9, 'forwardPERatio': 31.137609588890104, 'pegRatio': 2.175121293169212, 'peHigh': 42.54602833201731, 'peLow': 17.2663164891823, 'week52highDate': '2021-01-17', 'week52lowDate': '2020-03-15', 'putCallRatio': 0.3356125321587141, 'companyName': 'Apple Inc', 'marketcap': 2328742275410, 'week52high': 146.83, 'week52low': 53.52, 'week52highSplitAdjustOnly': 146.78, 'week52highDateSplitAdjustOnly': '2021-01-10', 'week52lowSplitAdjustOnly': 55.32, 'week52lowDateSplitAdjustOnly': '2020-03-22', 'week52change': 0.696793070164884, 'sharesOutstanding': 17348833715, 'float': None, 'avg10Volume': 72874400, 'avg30Volume': 106783205, 'day200MovingAvg': 122.45, 'day50MovingAvg': 138.42, 'employees': None, 'ttmEPS': 3.8, 'ttmDividendRate': 0.8306851191312461, 'dividendYield': 0.006061830035792195, 'nextDividendDate': None, 'exDividendDate': '2021-02-01', 'nextEarningsDate': '2021-01-23', 'peRatio': 36.09146336209432, 'maxChangePercent': 51.97545483990402, 'year5ChangePercent': 5.318458266648082, 'year2ChangePercent': 2.33504710262902, 'year1ChangePercent': 0.673018178719507, 'ytdChangePercent': 0.02263265320373224, 'month6ChangePercent': 0.205031916319725, 'month3ChangePercent': 0.1400645864407511, 'month1ChangePercent': 0.05467191158957329, 'day30ChangePercent': 0.036405327091942545, 'day5ChangePercent': -0.010626215440489122}

In [21]:
rv_columns = [
    'Ticker',
    'Price',
    'Number of Shares to Buy',
    'Price-to-Earnings Ratio',
    'PE Percentile',
    'Price-to-Book Ratio',
    'PB Percentile',
    'Price-to-Sales Ratio',
    'PS Percentile',
    'EV/EBITDA',
    'EV/EBITDA Percentile',
    'EV/GP',
    'EV/GP Percentile',
    'RV Score'
]

rv_dataframe = pd.DataFrame(columns = rv_columns)

for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=quote,advanced-stats&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    #print(batch_api_call_url)
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        enterprise_value = data[symbol]['advanced-stats']['enterpriseValue']
        ebitda = data[symbol]['advanced-stats']['EBITDA']
        gross_profit = data[symbol]['advanced-stats']['grossProfit']
        try:
            ev_to_ebitda = enterprise_value/ebitda
        except TypeError:
            ev_to_ebitda = np.NaN

        try:
            ev_to_gross_profit = enterprise_value/gross_profit
        except TypeError:
            ev_to_gross_profit = np.NaN
            
        rv_dataframe = rv_dataframe.append(
        pd.Series([
            symbol,
            data[symbol]['quote']['latestPrice'],
            'N/A',
            data[symbol]['quote']['peRatio'],
            'N/A',
            data[symbol]['advanced-stats']['priceToBook'],
            'N/A',
            data[symbol]['advanced-stats']['priceToSales'],
            'N/A',
            ev_to_ebitda,
            'N/A',
            ev_to_gross_profit,
            'N/A',
            'N/A',   
            
        ],
        index = rv_columns),
        ignore_index = True
        )

In [22]:
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,132.44,N/A,56.81,N/A,8.13,N/A,7.39,N/A,35.454907,N/A,13.961229,N/A,N/A
1,AAL,17.70,N/A,-1.23,N/A,-1.96,N/A,0.4351,N/A,-6.081270,N/A,1.400774,N/A,N/A
2,AAP,159.97,N/A,22.59,N/A,2.81,N/A,1.07,N/A,10.698247,N/A,2.406812,N/A,N/A
3,AAPL,140.58,N/A,37.61,N/A,35.41,N/A,7.87,N/A,27.876426,N/A,20.878004,N/A,N/A
4,ABBV,106.38,N/A,23.3,N/A,12.29,N/A,4.56,N/A,15.474702,N/A,9.350017,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,108.41,N/A,31.69,N/A,-4.17,N/A,5.84,N/A,23.190993,N/A,10.240829,N/A,N/A
501,ZBH,161.55,N/A,-220.46,N/A,2.83,N/A,4.73,N/A,27.885377,N/A,8.411886,N/A,N/A
502,ZBRA,493.49,N/A,56.02,N/A,13.46,N/A,5.9,N/A,37.441127,N/A,14.137954,N/A,N/A
503,ZION,51.98,N/A,21.3,N/A,1.19,N/A,2.78,N/A,12.231040,N/A,3.198604,N/A,N/A
504,ZTS,172.54,N/A,49.83,N/A,22,N/A,12.64,N/A,33.262558,N/A,18.248165,N/A,N/A

In [24]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)] #finding rows with missing data

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
40,AON,229.510,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
71,BRK.B,243.880,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
118,CTL,11.000,N/A,10.07,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
136,DISCK,42.370,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
165,ETFC,50.390,N/A,14.36,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
168,EVRG,56.670,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
190,FOX,32.840,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
192,FRC,160.010,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
204,GOOG,2107.110,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
326,MYL,16.042,N/A,31.03,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
327,NBL,8.500,N/A,-0.75,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
348,NWS,23.700,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
363,PEG,58.340,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
442,TROW,167.350,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
452,UA,19.420,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
454,UAL,45.288,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
498,XRX,24.080,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A

In [25]:
rv_dataframe.columns

Index(['Ticker', 'Price', 'Number of Shares to Buy', 'Price-to-Earnings Ratio',
       'PE Percentile', 'Price-to-Book Ratio', 'PB Percentile',
       'Price-to-Sales Ratio', 'PS Percentile', 'EV/EBITDA',
       'EV/EBITDA Percentile', 'EV/GP', 'EV/GP Percentile', 'RV Score'],
      dtype='object')

In [26]:
for column in ['Price-to-Earnings Ratio','Price-to-Book Ratio', 'Price-to-Sales Ratio', 'EV/EBITDA','EV/GP']:
    rv_dataframe[column].fillna(rv_dataframe[column].mean(), inplace = True)

In [27]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)]

Empty DataFrame
Columns: [Ticker, Price, Number of Shares to Buy, Price-to-Earnings Ratio, PE Percentile, Price-to-Book Ratio, PB Percentile, Price-to-Sales Ratio, PS Percentile, EV/EBITDA, EV/EBITDA Percentile, EV/GP, EV/GP Percentile, RV Score]
Index: []

In [28]:
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,132.44,N/A,56.81,N/A,8.13,N/A,7.3900,N/A,35.454907,N/A,13.961229,N/A,N/A
1,AAL,17.70,N/A,-1.23,N/A,-1.96,N/A,0.4351,N/A,-6.081270,N/A,1.400774,N/A,N/A
2,AAP,159.97,N/A,22.59,N/A,2.81,N/A,1.0700,N/A,10.698247,N/A,2.406812,N/A,N/A
3,AAPL,140.58,N/A,37.61,N/A,35.41,N/A,7.8700,N/A,27.876426,N/A,20.878004,N/A,N/A
4,ABBV,106.38,N/A,23.30,N/A,12.29,N/A,4.5600,N/A,15.474702,N/A,9.350017,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,108.41,N/A,31.69,N/A,-4.17,N/A,5.8400,N/A,23.190993,N/A,10.240829,N/A,N/A
501,ZBH,161.55,N/A,-220.46,N/A,2.83,N/A,4.7300,N/A,27.885377,N/A,8.411886,N/A,N/A
502,ZBRA,493.49,N/A,56.02,N/A,13.46,N/A,5.9000,N/A,37.441127,N/A,14.137954,N/A,N/A
503,ZION,51.98,N/A,21.30,N/A,1.19,N/A,2.7800,N/A,12.231040,N/A,3.198604,N/A,N/A
504,ZTS,172.54,N/A,49.83,N/A,22.00,N/A,12.6400,N/A,33.262558,N/A,18.248165,N/A,N/A

In [31]:
metrics = { 
    'Price-to-Earnings Ratio': 'PE Percentile',
    'Price-to-Book Ratio': 'PB Percentile',
    'Price-to-Sales Ratio': 'PS Percentile',
    'EV/EBITDA': 'EV/EBITDA Percentile',
    'EV/GP': 'EV/GP Percentile'
}

for metric in metrics.keys():
    for row in rv_dataframe.index:
        rv_dataframe.loc[row,metrics[metric]] = score(rv_dataframe[metric], rv_dataframe.loc[row, metric])
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,132.44,N/A,56.81,86.5347,8.13,74.6535,7.3900,80.396,35.454907,84.9505,13.961229,79.4059,N/A
1,AAL,17.70,N/A,-1.23,15.0495,-1.96,5.14851,0.4351,2.9703,-6.081270,3.16832,1.400774,4.55446,N/A
2,AAP,159.97,N/A,22.59,45.1485,2.81,38.6139,1.0700,12.5743,10.698247,21.5842,2.406812,10.8911,N/A
3,AAPL,140.58,N/A,37.61,73.6634,35.41,96.0396,7.8700,82.5743,27.876426,78.0198,20.878004,93.6634,N/A
4,ABBV,106.38,N/A,23.30,46.1386,12.29,84.5545,4.5600,62.8713,15.474702,44.7525,9.350017,62.9703,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,108.41,N/A,31.69,64.3564,-4.17,4.75248,5.8400,73.8614,23.190993,69.703,10.240829,67.3267,N/A
501,ZBH,161.55,N/A,-220.46,1.58416,2.83,38.8119,4.7300,64.4554,27.885377,78.2178,8.411886,53.4653,N/A
502,ZBRA,493.49,N/A,56.02,85.9406,13.46,85.9406,5.9000,74.2574,37.441127,86.1386,14.137954,80,N/A
503,ZION,51.98,N/A,21.30,42.7723,1.19,12.1782,2.7800,42.3762,12.231040,30.297,3.198604,15.6436,N/A
504,ZTS,172.54,N/A,49.83,82.9703,22.00,93.0693,12.6400,93.7624,33.262558,84.1584,18.248165,90.297,N/A

In [32]:
from statistics import mean

for row in rv_dataframe.index:
    value_percentiles = []
    for metric in metrics.keys():
        value_percentiles.append(rv_dataframe.loc[row, metrics[metric]])
    rv_dataframe.loc[row, 'RV Score'] = mean(value_percentiles)
    #print(value_percentiles)
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,132.44,N/A,56.81,86.5347,8.13,74.6535,7.3900,80.396,35.454907,84.9505,13.961229,79.4059,81.1881
1,AAL,17.70,N/A,-1.23,15.0495,-1.96,5.14851,0.4351,2.9703,-6.081270,3.16832,1.400774,4.55446,6.17822
2,AAP,159.97,N/A,22.59,45.1485,2.81,38.6139,1.0700,12.5743,10.698247,21.5842,2.406812,10.8911,25.7624
3,AAPL,140.58,N/A,37.61,73.6634,35.41,96.0396,7.8700,82.5743,27.876426,78.0198,20.878004,93.6634,84.7921
4,ABBV,106.38,N/A,23.30,46.1386,12.29,84.5545,4.5600,62.8713,15.474702,44.7525,9.350017,62.9703,60.2574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,108.41,N/A,31.69,64.3564,-4.17,4.75248,5.8400,73.8614,23.190993,69.703,10.240829,67.3267,56
501,ZBH,161.55,N/A,-220.46,1.58416,2.83,38.8119,4.7300,64.4554,27.885377,78.2178,8.411886,53.4653,47.3069
502,ZBRA,493.49,N/A,56.02,85.9406,13.46,85.9406,5.9000,74.2574,37.441127,86.1386,14.137954,80,82.4554
503,ZION,51.98,N/A,21.30,42.7723,1.19,12.1782,2.7800,42.3762,12.231040,30.297,3.198604,15.6436,28.6535
504,ZTS,172.54,N/A,49.83,82.9703,22.00,93.0693,12.6400,93.7624,33.262558,84.1584,18.248165,90.297,88.8515

In [33]:
rv_dataframe.sort_values('RV Score', ascending = True, inplace = True)
rv_dataframe = rv_dataframe[0:50]
rv_dataframe.reset_index(drop = True, inplace = True)
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,UNM,25.89,N/A,5.30,16.2376,0.4855,5.74257,0.4292,2.77228,2.742098,3.76238,0.431026,0.39604,5.78218
1,AIG,43.20,N/A,-7.60,10.6931,0.5871,6.13861,0.7950,7.52475,4.706214,4.35644,0.765678,1.58416,6.05941
2,AAL,17.70,N/A,-1.23,15.0495,-1.9600,5.14851,0.4351,2.9703,-6.081270,3.16832,1.400774,4.55446,6.17822
3,MCK,187.17,N/A,-7.30,10.8911,-63.7500,0.990099,0.1277,0.594059,7.331926,8.11881,2.795071,13.0693,6.73267
4,MET,56.05,N/A,9.40,18.0198,0.6883,6.73267,0.7606,6.73267,5.173422,4.75248,0.772463,1.78218,7.60396
5,FTI,10.79,N/A,-0.83,15.4455,1.1100,10.6931,0.3488,1.18812,3.212483,3.9604,2.027565,8.71287,8
6,DXC,25.90,N/A,-2.40,13.4653,1.1600,11.6832,0.3769,2.17822,5.313598,4.9505,2.370021,10.6931,8.59406
7,ALL,106.87,N/A,7.66,16.6337,1.3200,15.6436,0.7233,6.33663,2.320582,3.56436,0.718374,1.18812,8.67327
8,F,11.84,N/A,-35.95,5.74257,1.5100,19.1089,0.3541,1.78218,5.968430,5.34653,2.753005,12.4752,8.89109
9,ABC,108.22,N/A,-6.84,11.2871,-31.7900,1.58416,0.1129,0.39604,7.981443,10.495,3.854987,20.7921,8.91089
10,HIG,50.94,N/A,10.88,19.4059,1.0600,10.099,0.8929,8.71287,4.425606,4.15842,0.872430,2.37624,8.9505
11,BA,213.87,N/A,-10.60,9.70297,-6.9300,4.15842,2.2100,34.7525,-14.233482,2.37624,-27.194264,0.19802,10.2376
12,LNC,53.11,N/A,13.55,26.3366,0.4705,5.54455,0.5831,4.35644,10.015846,18.0198,0.572940,0.990099,11.0495
13,PFG,56.72,N/A,12.73,22.5743,0.9727,8.71287,1.0032,10.8911,8.294111,11.6832,1.006753,2.57426,11.2871
14,CVS,77.91,N/A,12.61,21.7822,1.4100,17.6238,0.3813,2.37624,8.337186,11.8812,1.494254,5.34653,11.802
15,AFL,47.53,N/A,7.74,16.8317,1.0500,9.70297,1.5300,23.1683,6.312277,5.54455,1.489721,5.14851,12.0792
16,LB,47.42,N/A,-65.82,3.9604,-8.4400,3.76238,1.1300,13.9604,10.186472,19.0099,4.111892,22.3762,12.6139
17,KR,35.42,N/A,9.06,17.4257,2.6500,36.8317,0.2034,0.792079,5.945020,5.14851,1.203759,3.76238,12.7921
18,C,65.92,N/A,13.00,22.9703,0.7746,7.12871,1.4000,20.6931,6.955907,6.93069,1.706240,6.93069,12.9307
19,AIZ,134.33,N/A,19.26,39.0099,1.3200,15.6436,0.7449,6.53465,1.810527,3.36634,0.738345,1.38614,13.1881
20,HPQ,28.67,N/A,14.33,27.3267,-16.5100,2.77228,0.6297,4.55446,8.819167,13.2673,3.461527,18.2178,13.2277
21,HCA,174.24,N/A,18.31,36.7327,-62.9700,1.18812,1.1800,15.1485,8.249715,11.2871,1.623308,6.13861,14.099
22,UHS,132.73,N/A,12.70,22.2772,1.8500,25.5446,0.9819,10.495,7.611203,8.91089,1.178175,3.56436,14.1584
23,WRK,45.16,N/A,-17.51,7.52475,1.0600,10.099,0.6650,5.34653,7.714012,9.30693,6.441720,39.2079,14.297
24,APA,17.74,N/A,-0.88,15.2475,-4.0600,4.9505,1.3800,20.099,9.482767,16.2376,3.262177,16.0396,14.5149
25,BK,43.72,N/A,9.27,17.8218,0.9500,8.51485,2.0100,31.3861,6.814447,6.13861,2.084455,9.10891,14.5941
26,PRGO,46.18,N/A,-975.90,0.594059,1.0600,10.099,1.2000,15.8416,10.171941,18.6139,5.012483,28.1188,14.6535
27,GPS,23.69,N/A,-8.32,10.495,3.7200,48.5149,0.6402,5.14851,-11.309329,2.57426,1.776309,7.32673,14.8119
28,KSS,51.64,N/A,-32.70,5.94059,1.6800,22.1782,0.4759,3.36634,13.380188,36.4356,1.680280,6.33663,14.8515
29,TRV,147.06,N/A,16.90,33.3663,1.3800,17.0297,1.2100,16.4356,5.054103,4.55446,1.169546,3.16832,14.9109
30,AIV,5.10,N/A,4.87,16.0396,0.3761,5.34653,0.8910,8.51485,9.070779,13.8614,5.586868,32.2772,15.2079
31,HFC,32.75,N/A,-12.32,8.91089,0.9830,8.91089,0.4190,2.57426,14.358475,40.9901,3.177931,15.2475,15.3267
32,GM,53.90,N/A,12.70,22.2772,1.7300,23.1683,0.6349,4.9505,9.080321,14.0594,2.725046,12.2772,15.3465
33,VLO,65.71,N/A,-2498.49,0.19802,1.4400,17.8218,0.3496,1.58416,12.825256,33.8614,4.439668,24.9505,15.6832
34,TAP,44.89,N/A,16.38,32.2772,0.6667,6.53465,0.9434,9.50495,6.864709,6.53465,4.291434,23.7624,15.7228
35,LYV,88.05,N/A,-11.85,9.10891,-184.3000,0.39604,4.1700,59.2079,-23.065165,1.58416,2.150863,9.90099,16.0396
36,PRU,84.81,N/A,-308.76,1.38614,0.5048,5.94059,0.5354,3.9604,22.871846,68.5149,0.524608,0.792079,16.1188
37,MRO,9.06,N/A,-6.32,11.4851,0.6630,6.33663,2.0400,31.9802,7.563473,8.71287,4.173371,22.7723,16.2574
38,CNC,61.90,N/A,15.68,31.0891,1.3300,16.3366,0.3493,1.38614,12.739901,33.4653,0.522895,0.594059,16.5743
39,STT,74.50,N/A,12.18,20.7921,1.1300,11.1881,2.1000,33.6634,7.932608,10.099,2.022185,8.51485,16.8515
40,OXY,26.55,N/A,-1.52,14.4554,2.3400,32.6733,1.2000,15.8416,7.009482,7.32673,3.188508,15.4455,17.1485
41,HPE,14.97,N/A,-59.80,4.75248,1.1900,12.1782,0.6991,5.74257,15.441582,44.3564,3.568109,18.8119,17.1683
42,HRB,20.10,N/A,19.75,40.198,-13.3500,3.16832,1.2200,16.8317,6.824889,6.33663,3.799075,20.396,17.3861
43,PGR,90.24,N/A,10.48,19.0099,3.0100,40.396,1.2400,17.0297,7.042462,7.52475,1.176602,3.36634,17.4653
44,HUM,392.47,N/A,12.30,21.1881,3.2500,43.5644,0.7043,5.94059,9.267219,15.0495,0.799868,1.9802,17.5446
45,NWSA,23.93,N/A,-16.51,7.72277,1.7400,23.3663,1.7000,25.3465,11.621536,26.9307,1.601418,5.94059,17.8614
46,GL,95.20,N/A,14.80,28.1188,1.2000,12.8713,2.1200,33.8614,6.537701,5.74257,2.074246,8.91089,17.901
47,TSN,65.74,N/A,11.52,20.198,1.6000,20.9901,0.5800,4.15842,7.952148,10.297,6.199693,37.4257,18.6139
48,RE,247.43,N/A,14.89,28.3168,1.0200,9.50495,1.1300,13.9604,13.906419,39.802,1.041702,2.77228,18.8713
49,PHM,50.35,N/A,9.56,18.2178,2.0400,27.8218,1.1800,15.1485,7.089821,7.92079,4.542507,25.5446,18.9307