In [1]:
import numpy as np
import pandas as pd
import xlsxwriter
import requests
from scipy import stats
import math

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')
from secrets import IEX_CLOUD_API_TOKEN

In [6]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
print(data)

{'symbol': 'AAPL', 'companyName': 'Apple Inc', 'primaryExchange': 'SLDE /GEEAQCSABLKNTTOGAA)RLS ( NM', 'calculationPrice': 'close', 'open': 137.81, 'openTime': 1651563260532, 'openSource': 'fliifaco', 'close': 140.47, 'closeTime': 1620347438193, 'closeSource': 'oiiclffa', 'high': 139.68, 'highTime': 1619678180873, 'highSource': 'TILtX aadeE rs', 'low': 134.95, 'lowTime': 1687808407880, 'lowSource': 'e e5ltncddra iypie1 mue', 'latestPrice': 141.41, 'latestSource': 'Close', 'latestTime': 'February 12, 2021', 'latestUpdate': 1675694401715, 'latestVolume': 61503629, 'iexRealtimePrice': 137.9, 'iexRealtimeSize': 1, 'iexLastUpdated': 1619532858698, 'delayedPrice': 139.26, 'delayedPriceTime': 1645766868073, 'oddLotDelayedPrice': 141.7, 'oddLotDelayedPriceTime': 1632759657319, 'extendedPrice': 140.34, 'extendedChange': 0.06, 'extendedChangePercent': 0.00045, 'extendedPriceTime': 1628272322087, 'previousClose': 137.83, 'previousVolume': 65000772, 'change': 0.25, 'changePercent': 0.00187, 'volume': 60225449, 'iexMarketPercent': 0.014699805624900067, 'iexVolume': 905915, 'avgTotalVolume': 106827444, 'iexBidPrice': 0, 'iexBidSize': 0, 'iexAskPrice': 0, 'iexAskSize': 0, 'iexOpen': 141.74, 'iexOpenTime': 1656857413730, 'iexClose': 142.05, 'iexCloseTime': 1689799905805, 'marketCap': 2276607983358, 'peRatio': 38.06, 'week52High': 146.53, 'week52Low': 54.28, 'ytdChange': 0.02465853992719326, 'lastTradeTime': 1681791779068, 'isUSMarketOpen': False}

In [7]:
price = data['latestPrice']
pe_ratio = data['peRatio']
pe_ratio

38.06

In [8]:
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'Price-to-Earnings Ratio', 'Number of Shares to Buy']

In [9]:
final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
#    print(data.status_code)
    for symbol in symbol_string.split(","):
        final_dataframe = final_dataframe.append(
        pd.Series(
            [
                symbol,
                data[symbol]['quote']['latestPrice'],
                data[symbol]['quote']['peRatio'],
                'N/A'
            ],
            index = my_columns
        ),
        ignore_index = True
        )
        
#        print(symbol)
final_dataframe

    Ticker   Price Price-to-Earnings Ratio Number of Shares to Buy
0        A  129.44                   58.06                     N/A
1      AAL   17.57                   -1.27                     N/A
2      AAP  155.62                   23.32                     N/A
3     AAPL  138.02                   37.69                     N/A
4     ABBV  107.96                    23.8                     N/A
..     ...     ...                     ...                     ...
500    YUM  108.28                   31.51                     N/A
501    ZBH  165.76                 -227.19                     N/A
502   ZBRA  489.15                   54.64                     N/A
503   ZION   52.01                    21.8                     N/A
504    ZTS  173.74                   49.37                     N/A

[505 rows x 4 columns]

In [10]:
# Remove Glamour stocks, sort dataframe by peRatio in ascending order and get top 50

In [13]:
final_dataframe.sort_values('Price-to-Earnings Ratio', ascending = True, inplace = True)
final_dataframe

    Ticker    Price Price-to-Earnings Ratio Number of Shares to Buy
468    VLO   66.600                -2421.76                     N/A
405   SBAC  271.080                -2120.96                     N/A
380   PRGO   46.520                  -937.1                     N/A
183    FIS  141.200                 -847.62                     N/A
125      D   75.030                 -493.52                     N/A
..     ...      ...                     ...                     ...
363    PEG   61.110                    None                     N/A
442   TROW  166.720                    None                     N/A
452     UA   19.530                    None                     N/A
454    UAL   45.471                    None                     N/A
498    XRX   24.210                    None                     N/A

[505 rows x 4 columns]

In [15]:
final_dataframe.sort_values('Price-to-Earnings Ratio', inplace = True)
final_dataframe = final_dataframe[final_dataframe['Price-to-Earnings Ratio'] > 0]
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(inplace = True)
final_dataframe.drop('index', axis=1, inplace = True)
final_dataframe

   Ticker   Price Price-to-Earnings Ratio Number of Shares to Buy
0     NRG   44.91                    2.69                     N/A
1     AIV    5.00                    4.83                     N/A
2     UNM   25.79                     5.4                     N/A
3     BIO  691.78                    5.94                     N/A
4     ALL  108.99                    7.48                     N/A
5     AFL   46.96                     7.7                     N/A
6     CPB   48.53                    8.04                     N/A
7    EBAY   64.75                    8.22                     N/A
8     KIM   18.31                    8.97                     N/A
9     MET   57.05                    9.15                     N/A
10     KR   34.13                    9.25                     N/A
11     BK   43.32                    9.62                     N/A
12    PHM   48.48                     9.7                     N/A
13    CTL   11.00                    9.74                     N/A
14    SRE  128.80                    9.77                     N/A
15    PNC  166.78                    9.79                     N/A
16    PGR   89.13                   10.08                     N/A
17    NEE   83.69                   10.49                     N/A
18    HIG   49.98                    10.5                     N/A
19    CAH   52.65                   11.08                     N/A
20    DHI   83.78                   11.13                     N/A
21   BIIB  280.41                    11.4                     N/A
22    TSN   67.77                   11.74                     N/A
23    LEN   92.83                   12.09                     N/A
24    STT   75.00                   12.18                     N/A
25    MAS   56.32                   12.48                     N/A
26     GM   56.10                   12.51                     N/A
27     VZ   54.60                   12.53                     N/A
28    MGM   36.40                   12.55                     N/A
29      C   65.32                    12.6                     N/A
30    HII  182.23                   12.67                     N/A
31    CVS   75.84                   12.67                     N/A
32    HUM  385.33                    12.7                     N/A
33    PFG   54.35                   12.88                     N/A
34   INTC   64.09                      13                     N/A
35   DISH   32.31                   13.11                     N/A
36    LNC   53.09                   13.17                     N/A
37    UHS  133.47                    13.2                     N/A
38     MS   74.77                    13.2                     N/A
39   FOXA   32.64                   13.29                     N/A
40   PBCT   15.23                   13.32                     N/A
41    PNW   76.90                   13.93                     N/A
42    ETR   95.41                      14                     N/A
43    LMT  348.38                    14.1                     N/A
44    HPQ   27.90                    14.2                     N/A
45    PPL   29.17                   14.22                     N/A
46    IBM  123.80                   14.23                     N/A
47    MTB  145.67                   14.63                     N/A
48     WU   24.01                   14.69                     N/A
49     CI  207.68                   14.75                     N/A